// user-variables.scss
// Use this to overwrite Bootstrap and Unify variables
//


// Example of a variable override to change Unify's primary color and font size
// Remove the "//" to comment it in and see it in action!

$primary: 						#4e4e4e;
$font-size-base: 				1.1rem;
$navbar-brand-default-width: 	15rem !default;
 

 
